body{
 background-color: #151515;
 color: white;
 max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}
a {
	color: lightblue ;
}

h1 {
	text-align: center ;
}

h2 {
	color: #33cc10;
}
footer {
	text-align: center ;
}
div{
  text-align: center;
}
ul {
line-height: 1.7;	
}
